ion-card{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color:white;
    min-height: 45px;
    padding-top: 8px;
}
.gold{
    font-size: 20px;
    color:gold;
    width: 100%;
}