<ion-grid>
  <ion-row>
    <ion-col class="gold"> 
      <ion-card>
        Acquisto <span class="gold">ORO</span>
      </ion-card>
    </ion-col>
    <ion-col class="gold">
      <ion-card>
        Vendo <span class="gold">ORO</span>
      </ion-card>
    </ion-col>
    <ion-col class="gold">
      <ion-card>
        Piano <span class="gold">ORO</span>
      </ion-card>
    </ion-col>
    <ion-col class="gold">
      <ion-card>
        Riscatta <span class="gold">ORO</span>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>