<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>lingotti</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row style="margin-top: 14px;">
      <ion-col>&nbsp;</ion-col>
    </ion-row>
    <app-header></app-header>
    <ion-row>
      <ion-col >
        <ion-card class="square">
          
        </ion-card>
      </ion-col>
      <ion-col >
        <ion-card class="square">
          <ion-grid>
            <ion-row>
              <ion-col>
                <img src="../../../assets/images/lingotto.jpg">
              </ion-col>
              <ion-col style="padding: 3cqh;">
                <ion-row style="height: 6cqh; color:white;font-weight: 700;">
                  <ion-col>
                    Lingotto 50gr. Dim. 20x50mm
                  </ion-col>
                </ion-row>
                <ion-row style="height: 6cqh; color:white;font-weight: 700;">
                  <ion-col >
                    Quotazione <span class="gold">1.000000</span> Euro
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col offset="1" size="10">
                <ion-button style="width:100%; color:white;">
                  Acquista
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
      <ion-col >
        <ion-card class="square">
          
        </ion-card>
      </ion-col>
      <ion-col >
        <ion-card class="square">
          
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>