<div id="tradingview-widget-container" *ngIf="goldDollar" class="container">

</div>

<!--<div id="tradingview-widget-container-kas" *ngIf="kasUsdt" class="container">
    
</div>

<div id="tradingview-widget-container-btc"  *ngIf="btc" class="container">
    
</div>-->

<div class="gap20"></div>
<!-- NEW RELEASE -->
 <!--
<ion-radio-group value="gold">
    <ion-grid>
        
        <ion-row>
            <ion-col size="3">

            </ion-col>
            <ion-col size="2" style="width:50px;">    
                <div class="selection-area">
                    <div class="fg-logo">
                        <img src="../../../assets/icons/gold.svg" class="logo"/>            
                    </div>
                </div>
                <ion-radio value="gold" labelPlacement="start" (click)="loadGoldUSDT()">
                </ion-radio>
            </ion-col>
            <ion-col size="2" style="width:50px;">
                <div class="selection-area">
                    <div class="bg-logo">
                        <img src="../../../assets/icons/XTVCUSDT.svg" class="logo"/>
                    </div>
                    <div class="fg-logo">
                        <img src="../../../assets/icons/kas.svg" class="logo"/>
                    </div>
                </div>   
                <ion-radio value="KAS" labelPlacement="start" (click)="loadKasUsdt()">
                </ion-radio>
            </ion-col>            
            <ion-col size="2" style="width:50px;">
                <div class="selection-area">
                    <div class="bg-logo">
                        <img src="../../../assets/icons/XTVCUSDT.svg" class="logo"/>
                    </div>
                    <div class="fg-logo">
                        <img src="../../../assets/icons/btc.svg" class="logo"/>
                       
                    </div>
                </div>    
                <ion-radio value="BTC" labelPlacement="start" (click)="btcTetherUS()">
                </ion-radio>
            </ion-col>
            <ion-col size="3">

            </ion-col>
        </ion-row>
    </ion-grid>
   
  </ion-radio-group>
-->